/************************************************************************************* 
** FONT CODE
**
**************************************************************************************/


/************************************************************************************* 
** GLOBAL STYLES**
**************************************************************************************/
html {
  
}

img {
  height: auto;
  margin: auto;
  max-width: 100%;
}

div.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;

}
/************************************************************************************* 
** HEADER**
**************************************************************************************/