/************************************************************************************* 
** FONT CODE
**
**************************************************************************************/


/************************************************************************************* 
** GLOBAL STYLES**
**************************************************************************************/
html {
  
}

img {
  height: auto;
  margin: auto;
  max-width: 100%;
}

div.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: space-around;
  width: 100%;


}
/************************************************************************************* 
**CONTENT**
**************************************************************************************/
form {
  display: flex;
  height: auto;
  justify-content: center;
  width: 25%;
  
}
div.wrapper > div {
  border: 1px solid red;
  width: 25%;
}
ul {
  
}