* {
  box-sizing: border-box;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: center;
  width: 100%;
}

div#flag {
  border: 1px solid black;
  height: 300px;
  position: relative;
  width: 480px;
}

div#stars {
  background-color: blue;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}